/* html */

* {
  -webkit-font-smoothing: subpixel-antialiased; 
}

html {
	height: 100%;
	overflow-x: hidden;
}

/* body */

body {
  background: $background;
  font-family: $primary_font;
  font-weight: $primary_weight;
  font-size: $primary_size;
  height: 100%;
}

/* login page */

#loginbar {
	background: $copyright_background;
	
	.username {
		
		span {
			color: $light_font;
			display: block;
			font-size: 12px;
			font-weight: 300;
			line-height: 24px;
			text-align: right;
			
			span {
				display: inline-block;
				font-weight: 500;
			}
			
			a:link,
			a:visited {
				color: $primary;
				display: inline-block;
				text-decoration: none;
				margin-left: 10px;
				@include transition(.1s);
			}
			
			a:hover,
			a:active {
				opacity: .5;
			}
		}
	}
}


/* disable page scroll */

.disablepagescroll {
	overflow: hidden;
}


/* search */

a#searchopen:link,
a#searchopen:visited,
a#searchclose:link,
a#searchclose:visited {
	color: $primary;
	font-size: 24px;
	height: 40px;
	line-height: 45px;
	position: fixed;
	right: 50px;
	text-align: center;
	text-decoration: none;
	bottom: 100px;
	width: 40px;
	z-index: 4;
	@include transition(.1s);
	@include border-radius(20px);
}

a#searchclose:link,
a#searchclose:visited {
	top: 40px;
}

a#searchopen:link,
a#searchopen:visited {
	background: $nav_bar_bg;
	border: 1px solid $nav_bar_border;
}

a#searchopen:hover,
a#searchopen:active,
a#searchclose:hover,
a#searchclose:active {
	opacity: .5;	
}

a#searchclose:link,
a#searchclose:visited {
	color: $light_font;
}

#search {
	background: $searchbg;
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 4;
	
	#searchform {
		height: 100px;
		margin: 300px auto 0 auto;
		position: relative;
		width: 700px;
		
		.icon {
			color: $light_font;
			display: inline-block;
			font-size: 52px;
			left: 0;
			line-height: 52px;
			padding: 0px 15px;
			position: absolute;
			top: 0;
			vertical-align: middle;
		}
		
		input[type="text"] {
			background: $transparent;
			border: none;
			color: $light_font;
			font-size: 32px;
			font-family: $primary_font;
			margin: 0 0 0 80px;
			height: 50px;
			vertical-align: middle;
			width: 450px;
			@include appearance(none);
		}
		
		input[type="submit"] {
			background: $transparent;
			border: 1px solid $light_font;
			color: $light_font;
			cursor: pointer;
			display: inline-block;
			font-family: $primary_font;
			font-size: 24px;
			font-weight: 300;
			padding: 0px 15px;
			@include border-radius(5px);
			@include appearance(none);
			@include transition(.1s);
		}
		
		input[type="submit"]:hover {
			opacity: .5;
		}
		
		input:focus{
		    outline: none;
		}
		
		::-webkit-input-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
		::-moz-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
		:-ms-input-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
		:-moz-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
	}
}

/* header */

header {
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	position: relative;
	width: 100%;
}

header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header.fixed_height {
	height: 600px;
}

header.header_mobile_home {
	display: none;
}

header.page_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

header.header_page {
	height: 400px;
	background-size: 100%;
	background-attachment: fixed;
	
	#page_title {
		
		h1.heading {
			color: $light_font;
			display: block;
			font-family: $secondary_font;
			font-size: 42px;
			font-weight: 500;
			line-height: 48px;
			letter-spacing: -1px;
			padding-top: 220px;
			text-align: center;
			text-shadow: 1px 1px 2px #000000;
		}
		
		h2.subheading {
			color: $light_font;
			display: block;
			font-size: 18px;
			line-height: 28px;
			margin: 0 auto;
			text-align: center;
			text-shadow: 1px 1px 2px #000000;
			width: 600px;
		}
	}
}

header.header_page.header_page_mobile {
	display: none;
}

/* contact_information_bar */

#contact_information {
	background: $transblack;
	height: 30px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
	
	ul {
		
		li {
			display: inline-block;
				
			a:link,
			a:visited {
				color: $light_font;
				line-height: 30px;
				font-size: 14px;
				font-weight: 300;
				margin-right: 10px;
				text-decoration: none;
				@include transition(.1s);
					
				.icon {
					margin-right: 5px;
				}
			}
				
			a:hover,
			a:active {
				opacity: .7;
			}
		}
	}
		
		
	ul.social_info {
		text-align: right;
			
		li:last-child {
			display: inline-block;
				
			
		}
	}
}

#contact_information + #nav_bar {
	top: 30px;
}


/* nav_bar */

#nav_bar {
	background-color: $transparent;
	background-image: linear-gradient($transblack, $transparent);
	border-bottom: .25px solid;
	border-color: $nav_bar_border;
	height: 100px;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 3;
	@include background_clip(padding-box);
	@include transition(.25s);
	
	#logo_main {
		
		#logo_alt {
			display: none;
		}
		
		#logo_primary {
			display: block;
		}
		
		img {
			width: auto;
			height: 80px;
			padding: 10px 0px;
			@include transition(.25s);
		}
		
		h1 {
			
			a:link,
			a:visited {
				color: $light_font;
				display: block;
				font-size: 24px;
				font-weight: 500;
				padding-top: 40px;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover,
			a:active {
				opacity: .9;
			}
		}
	}
	
	ul {
		margin-right: 20px;
		text-align: right;
		
		li {
			list-style: none;
			display: inline-block;
			padding-right: 20px;
			@include transition(.1s);
			
			a:link,a:visited {
				color: $light_font;
				display: block;
				font-family: $secondary_font;
				font-size: 13px;
				font-weight: 600;
				letter-spacing: 2px;
				padding: 44px 0;
				text-decoration: none;
				text-transform: uppercase;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
			
			ul {
				margin-left: -20px;
				opacity: 0;
			  	padding: 0;
			  	position: absolute;
			  	visibility: hidden;
			  	width: 240px;
			  	z-index: 50;
			  	
			  	li {
				  	background: $footer_background;
				  	display: block;
					margin: 0;
					padding: 0;
					text-align: left;
					width: 100%;
					
					a:link,a:visited {
						color: $light_font;
  						display: block;
  						padding: 10px 20px;
  						width: 100%;
					}
			  	}
			  	
			  	li:first-child {
				  	padding-top: 10px;
			  	}
			  	
			  	li:last-child {
				  	padding-bottom: 10px;
			  	}
			}
		}
		
		li.current-menu-item {
			a:link,a:visited {
				opacity: .5;
			}
			
			& > ul.sub-menu {
				li {
					a:link,a:visited {
						opacity: 1;
					}
					
					a:hover,a:active {
						opacity: .5;
					}
				}
			}
		}
		
		li.menu-item-has-children {
			& > a:link,
			& > a:visited {
				background: url('csstone/features/light_arrow_down.png') no-repeat;
				background-position: right center;
				background-size: 18px 18px;
				padding-right: 20px;
			}
		}
		
		li:last-child {
			padding-right: 0px;
		}
		
		li:hover {
				
			ul {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

#nav_bar.scroll-fix {
	background: $nav_bar_bg_scroll;
	height: 70px;
	
	#logo_main {
		
		#logo_primary {
			display: none;
		}
		
		#logo_alt {
			display: block;
		}
		
		img {
			width: auto;
			height: 50px;
			padding: 10px 0px;
			@include transition(.25s);
		}
		
		h1 {
			
			a:link,
			a:visited {
				color: $dark_font;
				padding-top: 25px;
			}
		}
	}
	
	ul {
		
		li {
			
			a:link, a:visited {
				color: $dark_font;
				font-weight: 600;
				padding: 29px 0;
			}
			
			ul {
				li {
					a:link,a:visited {
						color: $light_font;
						display: block;
  						padding: 10px 20px;
  						width: 100%;
					}
				}
			}
		}
		
		li.menu-item-has-children {
			& > a:link,
			& > a:visited {
				background: url('csstone/features/arrow_down.png') no-repeat;
				background-position: right center;
				background-size: 18px 18px;
				padding-right: 20px;
			}
		}
	}
}

/* mobile nav */

a#mobileopen:link,
a#mobileopen:visited,
a#mobileclose:link,
a#mobileclose:visited {
	color: $primary;
	display: none;
	font-size: 24px;
	height: 40px;
	line-height: 45px;
	position: absolute;
	right: 50px;
	text-align: center;
	text-decoration: none;
	top: 40px;
	width: 40px;
	z-index: 4;
	@include transition(.1s);
	@include border-radius(20px);
}

a#mobileopen:link,
a#mobileopen:visited {
	background: $nav_bar_bg;
	border: 1px solid $nav_bar_border;
}

a#mobileopen:hover,
a#mobileopen:active,
a#mobileclose:hover,
a#mobileclose:active {
	opacity: .5;
}

a#mobileclose:link,
a#mobileclose:visited {
	color: $light_font;
}

#mobile_nav {
	background: $searchbg;
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 4;
	
	.mobile_nav_wrapper {
		height: 100%;
		overflow-y: auto;
	
		.menu-primary-container {
			margin-top: 50px;
			
			ul {
				li {
					padding: 5px 0;
					
					a:link,a:visited {
						color: $light_font;
						font-family: $primary_font;
						font-size: 24px;
						font-weight: 400;
						text-decoration: none;
					}
					
					ul.sub-menu {
						margin-top: 10px;
						
						li {
							a:link,a:visited {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		
		#social_nav {
			ul {
				margin: 40px 0px;
				
				li {
					display: inline-block;
					
					a:link,a:visited {
						color: $light_font;
						font-size: 18px;
						padding: 0 10px;
						text-decoration: none;
					}
				}
			}
		}
		
		#mobile_search {
			margin-top: 20px;
			
			input[type="text"] {
				background: $transparent;
				border: none;
				color: $light_font;
				font-size: 16px;
				vertical-align: middle;
				width: 180px;
			}
			
			input[type="submit"] {
				background: $transparent;
				border: 1px solid $light_font;
				color: $light_font;
				cursor: pointer;
				display: inline-block;
				font-family: $primary_font;
				font-size: 16px;
				font-weight: 300;
				padding: 0px 15px;
				@include border-radius(5px);
				@include appearance(none);
				@include transition(.1s);
			}
			
			input[type="submit"]:hover {
				opacity: .5;
			}
			
			input:focus{
			    outline: none;
			}
			
			::-webkit-input-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
			::-moz-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
			:-ms-input-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
			:-moz-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
		}
		
		.bottom_spacing {
			display: block;
			height: 100px;
		}
	}
}


/* home page logo */

#home_logo.home_logo_left {
	margin-left: -600px;
	
	#logo_home {
		text-align: left;
	}
	
	#home_page_nav {
		
		ul {
			text-align: left;
		}
	}
}

#home_logo.home_logo_right {
	margin-left: 0px;
	
	#logo_home {
		text-align: right;
	}
	
	#home_page_nav {
		
		ul {
			text-align: right;
		}
	}
}

#home_logo {
	height: 500px;
	left: 50%;
	margin-left: -300px;
	margin-top: -250px;
	position: absolute;
	top: 65%;
	width: 600px;
	
	#logo_home {
		margin-bottom: 40px;
		text-align: center;
		
		img {
			height: auto;
			margin-bottom: 10px;
			width: 550px;
		}
		
		h1 {
			
			a:link,
			a:visited {
				color: $light_font;
				display: block;
				font-size: 46px;
				font-weight: 700;
				margin-bottom: 10px;
				text-decoration: none;
				text-shadow: 1px 1px 2px #000000;
			}
		}
		
		h2 {
			color: $light_font;
			font-size: 18px;
			font-weight: 500;
			margin: 0px 20px 30px 20px;
			text-shadow: 1px 1px 2px #000000;
		}
	}
	
	#home_page_nav {
		
		ul {
			text-align: center;
			
			li {
				display: inline-block;
				padding: 0px 10px;
				
				a:link,a:visited {
					color: $light_font;
					background: $primary;
					display: inline-block;
					font-weight: 400;
					font-family: $secondary_font;
					font-size: 14px;
					font-weight: 500;
					letter-spacing: 2px;
					padding: 15px 30px;
					text-decoration: none;
					text-transform: uppercase;
					@include transition(.1s);
					@include border-radius(5px);
				}
				
				a:hover,a:active {
					opacity: .7;
				}
			}
		}
	}
}

/* slideshow */

header.slideshow {
	background: #ffffff;
	
	&.slideshow_fixed {
		height: 600px;
		
		.image_slide {
			.caption {
				top: 350px;
			}
		}
	}
	
	.image_slide {
		height: 100%;
		position: absolute;
		width: 100%;
		
		&.slide_1 {
			background: url('../img/home.jpg') no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}
		
		&.slide_2 {
			background: url('../img/home2.jpg') no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}
		
		&.slide_3 {
			background: url('../img/home3.jpg') no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}
		
		.caption {
			left: 50%;
			margin-left: -580px;
			position: absolute;
			top: 400px;
			
			h1 {
				color: #ffffff;
				font-size: 42px;
				font-weight: 700;
				margin-bottom: 5px;
				text-shadow: 1px 1px 2px #000000;
			}
			
			h2 {
				color: #ffffff;
				font-size: 32px;
				font-weight: 500;
				margin-bottom: 5px;
				text-shadow: 1px 1px 2px #000000;
			}
			
			p {
				color: #ffffff;
				font-size: 18px;
				font-weight: 500;
				line-height: 22px;
				margin-bottom: 5px;
				width: 500px;
				text-shadow: 1px 1px 2px #000000;
			}
			
			a:link,a:visited {
				background: $primary;
				color: $light_font;
				display: inline-block;
				font-weight: 400;
				font-family: $secondary_font;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 2px;
				margin: 15px 20px 0px 0px;
				padding: 15px 30px;
				text-decoration: none;
				text-transform: uppercase;
				text-shadow: none;
				@include transition(.1s);
				@include border-radius(5px);
			}
					
			a:hover,a:active {
				opacity: .7;
			}
			
		}
	}
}


/* breadcrumbs */

.breadcrumb_wrapper {
	margin-bottom: 30px;
	
	span.breadcrumbs {
		font-size: 13px;
		
		a:link,a:visited {
			color: $primary;
			font-weight: 500;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
}

/* main */

.main {
	padding: 120px 0;
	position: relative;
}

.main.accentbg {
	background: $accent;
}

.main.coloredbg,
.resources.coloredbg {
	background: $colored_bg;
}

/* columns */

.column_wrapper.colored:nth-child(odd) {
	background: $colored_bg;
}

/* content */

.content {
	margin-bottom: 30px;

	h1, h2, h3, h4 {
		color: $dark_font;
		font-weight: 500;
		letter-spacing: -1px;
	}
	
	h1 {
		color: $primary;
		font-size: 36px;
		margin-bottom: 10px;
	}
	
	h2 {
		font-size: 28px;
		line-height: 42px;
		margin-bottom: 10px;
	}
	
	h3 {
		color: $primary;
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	
	h3.page_title {
		margin: 10px 0 5px 0;
	}
	
	h4 {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	
	span.accent {
		color: $primary;
	}
	
	strong {
		font-weight: 500;
	}
	
	em {
		font-style: italic;
	}
	
	p {
		color: $gray_font;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 20px;
	}
	
	ul {
		margin: 0px 0px 20px 20px;
		
		li {
			color: $gray_font;
			font-size: 18px;
			line-height: 32px;
			list-style: disc;
		}
	}
	
	a:link,a:visited {
		color: $primary;
		font-weight: 400;
		text-decoration: none;
		@include transition(.1s);
	}
	
	a:hover,a:active {
		opacity: .5;
	}
	
	a.button:link,
	a.button:visited {
		background: $primary;
		color: $light_font;
		display: inline-block;
		padding: 10px 30px;
		@include transition(.1s);
		@include border-radius(5px);
	}
	
	a.button:visited,
	a.button:active {
		opacity: .7;
	}
}

.content.patient_forms,
.content.experience {
		
	a:link,
	a:visited {
		background: $primary;
		color: $light_font;
		display: inline-block;
		margin: 0px 20px 20px 0px;
		padding: 10px 20px;
		@include transition(.1s);
		@include border-radius(5px);
		
		.icon {
			margin-right: 10px;
		}
	}
}

.content.experience {
	
	a:first-child:link,
	a:first-child:visited {
		background: #7FB59F;
	}
	
	a:last-child:link,
	a:last-child:visited {
		background: #EF8E87;
	}
}

.sidebar {
	margin-bottom: 30px;
	
	h3 {
		color: $primary;
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	
	.office_information_wrapper {
		margin-bottom: 40px;
	
		ul.office_hours {
			margin-bottom: 30px;
				
			li {
				line-height: 28px;
					
				span {
					color: $gray_font;
					display: inline-block;
					font-weight: 300;
				}
					
				span:nth-child(1) {
					font-weight: 500;
					width: 110px;
				}
					
				span:nth-child(2) {
					width: 150px;
				}
			}
		}
		
		p {
			color: $gray_font;
			font-size: 14px;
			line-height: 20px;
			margin-top: 10px;
		}
		
		
		ul.contact_info {
			margin-bottom: 20px;
			
			li {
				color: $gray_font;
				font-weight: 500;
				line-height: 28px;
			}
		}
	}
	
	a:link,a:visited {
		color: $primary;
		font-weight: 400;
		line-height: 28px;
		text-decoration: none;
		@include transition(.1s);
		
		.icon {
			margin-right: 10px;
		}
	}
	
	a:hover,a:active {
		opacity: .5;
	}
	
	iframe {
		height: 250px;
		margin-bottom: 40px;
		width: 100%;
	}
}

hr.divider {
	background: $primary;
	border: 0px;
	display: block;
	height: 2px;
	margin: 30px 0px;
	width: 100px;
}

hr {
	background: $nav_bar_border;
	border: 0px;
	display: block;
	height: 1px;
	margin: 30px auto;
	width: 100%;
}

hr.pagebreak {
	margin: 100px auto;
}

.main.accentbg {
	.content {
		
		h2,h3,h4 {
			color: $light_font;
		}
		
		p {
			color: $light_font;
		}
		
		ul {
			li {
				color: $light_font;
			}
		}
	}
}


/* edit button */
.edit_button {
	padding: 10px 0;
	text-align: center;
	
	a:link,
	a:visited {
		background: $primary;
		color: $light_font;
		display: inline-block;
		text-decoration: none;
		padding: 2px 5px;
		@include border_radius(2px);
	}
	
	a:hover,
	a:active {
		opacity: .7;
	}
}

/* search */

#page_searchform {
	input[type="text"] {
		display: block;
		margin-bottom: 20px;
		width: 300px;
	}
}

/* blog */

article.blog_preview {
	background: $background;
	float: left;
	height: 550px;
	width: 31.5%;
	margin: 0 10px 20px 10px;
	@include border-radius(5px);
	
	h2 {
		
		a:link,a:visited {
			color: $dark_font;
			display: block;
			font-size: 22px;
			line-height: 32px;
			margin: 50px 50px 10px 50px;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	p {
		font-size: 14px;
		line-height: 28px;
		margin: 20px 50px 50px 50px;
	}
	
	hr {
		background: $nav_bar_border;
		border: none;
		display: block;
		height: 1px;
		margin: 0px 50px;
		width: calc(100% - 100px);
	}
	
	span.edit {
		display: block;
		margin: 0px 50px 50px 50px;
		
		a:link,a:visited {
			color: $primary;
			font-weight: 400;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	span.author,
	span.date {
		font-family: $primary_font;
		color: $gray_font;
		display: block;
		font-size: 14px;
		
		img {
			@include border-radius(15px);
		}
		
		a:link, a:visited {
			color: $primary;
			font-weight: 400;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	span.author {
		font-size: 12px;
		margin: 50px 50px 50px 50px;
	}
	
	span.date {
		margin: 0px 50px 50px 50px;
	}

}

article.blog_entry {
	
	h1 {
		text-align: center;
	}
	
	.meta {
		margin-bottom: 50px;
		text-align: center;
		
		span.date,
		span.author,
		span.category {
			color: $gray_font;
			display: inline-block;
			font-size: 14px;
			font-family: $secondary_font;
			letter-spacing: 1px;
			text-transform: uppercase;
			
			a:link, a:visited {
				color: $primary;
				font-weight: 400;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover, a:active {
				opacity: .5;
			}
		}
		
		span.sep {
			color: $gray_font;
			font-size: 12px;
			margin: 0 10px;
		}
		
		span.category {
			ul {
				li {
					display: inline-block;
				}
			}
		}	
	}
	
	img.wp-post-image {
		height: auto;
		margin-bottom: 50px;
		width: 100%;
	}
	
	span.edit {
		display: block;
		margin-bottom: 20px;
		
		a:link,a:visited {
			color: $primary;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	.tagcloud {
		
		a:link,a:visited {
			border: .5px solid $primary;
			color: $primary;
			display: inline-block;
			font-family: $secondary_font;
			font-size: 13px !important;
			line-height: 20px;
			font-weight: 500;
			letter-spacing: 2px;
			margin: 0 7px 7px 0;
			padding: 2px 5px;
			text-decoration: none;
			text-transform: uppercase;
			@include border-radius(5px);
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
}

.blog_sidebar {
	background: $colored_bg;
	padding-bottom: 150px;
	
	#blog_sidebar_1,#blog_sidebar_2 {
		background: $background;
		
		h3 {
			color: $dark_font;
			display: block;
			font-size: 22px;
			line-height: 44px;
			padding: 50px 50px 10px 50px;
			position: relative;
		}
		
		ul {
			padding: 10px 50px 50px 50px;
			
			li {
				font-size: 10px;
				line-height: 20px;
				
				a:link,a:visited {
					color: $primary;
					font-size: 14px;
					font-weight: 400;
					line-height: 28px;
					text-decoration: none;
					@include transition(.1s);
				}
				
				a:hover,a:active {
					opacity: .5;
				}
			}
		}
	}
}

/* skew */

.skew_wrapper {
	height: 35px;
  	position: relative;
  	
  	.skew_down:before {
		background: $colored_bg;
		backface-visibility: initial;
		bottom: 5px;
	  	content: '';
	  	height: 60px;
	  	left: 0; 	
	  	overflow: visible;
	  	position: absolute;
	  	width: 100%;
	  	z-index: -1;
	  	@include transform_skewy(2deg);
	  	-webkit-backface-visibility: hidden;
	}
	
	.skew_up:before {
		background: $colored_bg;
		backface-visibility: initial;
		bottom: -30px;
	  	content: '';
	  	height: 60px;
	  	left: 0; 	
	  	overflow: visible;
	  	position: absolute;
	  	width: 100%;
	  	z-index: -1;
	  	@include transform_skewy(-2deg);
	  	-webkit-backface-visibility: hidden;
	}
}

/* parallax */

.parallax.parallax_default_image {
	background: url('../img/parallax_home.jpg');
}

.parallax {
	background-size: cover;
	background-attachment: fixed;
	height: 350px;
	
	.filter {
		background: rgba(0,0,0,.5);
		display: block;
		height: calc(100% - 280px);
		padding: 140px 0;
		width: 100%;
		
		h1, h2, h3, h4 {
			color: $light_font;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 10px;
			text-align: center;
		}
		
		p, span {
			color: $light_font;
			font-size: 18px;
			line-height: 28px;
			text-align: center;
		}
		
		.testimonials-widget-testimonials {
			.prepend,
			.append {
				display: none;
			}
			
			p {
				font-weight: 500;
			}
			
			div.credit {
				margin: 0px;
				
				span.author {
					color: #ffffff;
					display: block;
					font-size: 14px;
					font-weight: 300;
					text-align: center;
					width: 100%;
					
					&::before {
						content: "- ";
						color: #ffffff;
						font-size: 14px;
					}
				}
			}
		}
	}
}

/* appointment sidebar */

.appointment {
	background: $primary;
	padding: 50px 0;
	text-align: center;
	position: relative;
	
	h3 {
		color: $light_font;
		font-size: 24px;
		font-weight: 500;
		margin: 0px 10px 10px 10px;
	}
	
	p {
		color: $light_font;
		font-size: 18px;
		line-height: 32px;
		margin: 0 auto 10px auto;
		width: 1000px;
	}
	
	ul {
		
		li {
			display: inline-block;
			
			a:link,a:visited {
				border: 2px solid $footer_link_border;
				color: $light_font;
				display: inline-block;
				font-weight: 500;
				margin: 10px 10px 0px 10px;
				padding: 10px 20px;
				text-decoration: none;
				@include border-radius(5px);
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
		}
	}
}


/* footer */

footer {
	background: $footer_background;
	padding: 100px 0;
	
	h3 {
		color: $light_font;
		font-family: $secondary_font;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 2px;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	
	p {
		color: $light_font;
		font-size: 13px;
		font-weight: 300;
		line-height: 26px;
	}
	
	ul {
		
		li {
			
			a:link,a:visited {
				color: $light_font;
				font-family: $secondary_font;
				font-size: 14px;
				font-weight: 300;
				line-height: 28px;
				letter-spacing: 1px;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
			
			.post-date {
				color: $light_font;
				display: block;
				font-family: $secondary_font;
				font-weight: 300;
				line-height: 14px;
				letter-spacing: 1px;
				font-size: 11px;
				margin-bottom: 10px;
				opacity: .8;
			}
		}
	}
	
	.tagcloud {
		
		a:link,a:visited {
			border: .5px solid $footer_link_border;
			color: $light_font;
			display: inline-block;
			font-family: $secondary_font;
			font-size: 11px !important;
			line-height: 16px;
			font-weight: 300;
			letter-spacing: 2px;
			margin: 0 2px 7px 0;
			padding: 2px 5px;
			text-decoration: none;
			text-transform: uppercase;
			@include border-radius(5px);
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	#logo_footer {
		text-align: center;
		
		img {
			height: 100px;
			margin-bottom: 10px;
			width: auto;
		}
		
		h1 {
			font-size: 24px;
			font-weight: 400;
			line-height: 32px;
			
			a:link,
			a:visited {
				color: $light_font;
				text-decoration: none;
			}	
		}
		
		h2 {
			color: $light_font;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
		}
	}
}

/* copyright */

.copyright {
	background: $copyright_background;
	padding: 20px 0;
	
	p {
		color: $light_font;
		font-family: $secondary_font;
		font-size: 13px;
		font-weight: 300;
		margin-top: 5px;
	}
	
	a:link, a:visited {
		color: $light_font;
		font-weight: 400;
		text-decoration: none;
		@include transition(.1s);
	}
	
	a:hover, a:active {
		opacity: .5;
	}
	
	img {
		vertical-align: middle;
	}
	
	#social_nav {
		
		ul {
			margin-right: 20px;
			text-align: right;
			
			li {
				display: inline-block;
				padding-left: 20px;
				
				a:link, a:visited {
					
					display: block;
					
					.icon {
						line-height: 32px;
					}
				}
			}
		}
	}
}

/* protected pages */

.login_wrapper {
	background: $background;
	margin: 0 auto;
	padding: 40px;
	width: 300px;
}
