/* html */

* {
	-webkit-font-smoothing: subpixel-antialiased; 
}

html {
	height: 100%;
	overflow-x: hidden;
}

/* body */

body {
	background: $background;
	font-family: $primary_font;
	font-weight: $primary_weight;
	font-size: $primary_size;
	height: 100%;
}

/* login page */

#loginbar {
	background: $copyright;
	
	&.full_width {
		.username {
			span {
				margin-right: 10px;
			}
		}
	}
	
	.username {
		
		span {
			color: $light_font;
			display: block;
			font-size: 12px;
			font-weight: 300;
			line-height: 24px;
			text-align: right;
			
			span {
				display: inline-block;
				font-weight: 500;
			}
			
			a:link,
			a:visited {
				color: $colortwo;
				display: inline-block;
				text-decoration: none;
				margin-left: 10px;
				@include transition(.1s);
			}
			
			a:hover,
			a:active {
				opacity: .5;
			}
		}
	}
}

/* disable page scroll */

.disablepagescroll {
	overflow: hidden;
}

/* search */

a#searchopen.search_top_right:link,
a#searchopen.search_top_right:visited {
	right: 0px;
	top: 180px;
	@include border-radius(5px 0px 0px 5px);
}

a#searchopen.search_top_left:link,
a#searchopen.search_top_left:visited {
	left: 0px;
	top: 180px;
	@include border-radius(0px 5px 5px 0px);
}

a#searchopen.search_bottom_right:link,
a#searchopen.search_bottom_right:visited {
	right: 0px;
	bottom: 180px;
	@include border-radius(5px 0px 0px 5px);
}

a#searchopen.search_bottom_left:link,
a#searchopen.search_bottom_left:visited {
	left: 0px;
	bottom: 180px;
	@include border-radius(0px 5px 5px 0px);
}

a#searchopen.search_top_right:hover,
a#searchopen.search_top_right:active,
a#searchopen.search_bottom_right:hover,
a#searchopen.search_bottom_right:active {
	padding-right: 20px;
}

a#searchopen.search_top_left:hover,
a#searchopen.search_top_left:active,
a#searchopen.search_bottom_left:hover,
a#searchopen.search_bottom_left:active {
	padding-left: 20px;
}

a#searchclose:link,
a#searchclose:visited {
	right: 50px;
	top: 100px;
}

a#searchopen:link,
a#searchopen:visited,
a#searchclose:link,
a#searchclose:visited {
	color: $light_font;
	font-size: 24px;
	height: 40px;
	line-height: 45px;
	position: fixed;
	text-align: center;
	text-decoration: none;
	width: 40px;
	z-index: 4;
	@include transition(.1s);
}

a#searchclose:link,
a#searchclose:visited {
	top: 50px;
}

a#searchopen:link,
a#searchopen:visited {
	background: $colorthree;
}

a#searchopen:hover,
a#searchopen:active,
a#searchclose:hover,
a#searchclose:active {
	opacity: .5;	
}

a#searchclose:link,
a#searchclose:visited {
	color: $light_font;
}

#search {
	background: rgba($colortwo,.95);
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 4;
	
	#searchform {
		height: 100px;
		margin: 300px auto 0 auto;
		position: relative;
		width: 700px;
		
		.fas {
			color: $light_font;
			display: inline-block;
			font-size: 52px;
			left: 0;
			line-height: 52px;
			padding: 0px 15px;
			position: absolute;
			top: 0;
			vertical-align: middle;
		}
		
		input[type="text"] {
			background: $transparent;
			border: none;
			color: $light_font;
			font-size: 32px;
			font-family: $primary_font;
			margin: 0 0 0 80px;
			height: 50px;
			vertical-align: middle;
			width: 450px;
			@include appearance(none);
		}
		
		input[type="submit"] {
			background: #ffffff;
			color: $colorone;
			cursor: pointer;
			display: inline-block;
			font-family: $primary_font;
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 2px;
			padding: 5px 15px;
			text-transform: uppercase;
			@include border-radius(5px);
			@include appearance(none);
			@include transition(.1s);
		}
		
		input[type="submit"]:hover {
			opacity: .5;
		}
		
		input:focus{
		    outline: none;
		}
		
		::-webkit-input-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
		::-moz-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
		:-ms-input-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
		:-moz-placeholder {
		  	color: $light_font;
		  	font-weight: 300;
		  	opacity: .5;
		}
	}
}

/* top bar */

#top_bar {
	&.fullwidth,
	&.containerwidth {
		background: #141618;
		
		.phone_email_wrapper {
			display: inline-block;
			vertical-align: top;
		}
		
		#phone_number,
		#email_address,
		#social_nav,
		#add_link {
			display: inline-block;
			vertical-align: top;
			
			ul {
				li {
					display: inline-block;
					
					a:link,
					a:visited {
						color: $light_font;
						display: block;
						font-size: 14px;
						padding: 10px;
						text-decoration: none;
						@include transitions(opacity, .5s, ease);
					}
					
					a:hover,
					a:active {
						opacity: .5;
					}
				}
			}
		}
		
		#phone_number + #email_address {
			padding-left: 0px;
		}
		
		#phone_number,
		#email_address,
		#add_link {
			ul {
				li {
					a:link,
					a:visited {
						padding-right: 20px;
						
						.fas {
							font-size: 14px;
							margin-right: 6px;
							vertical-align: middle;
						}
					}
				}
			}
		}
		
		#social_nav {
			ul {
				padding-right: 20px;
				text-align: right;
			}
		}
		
		&.include_both {
			.phone_email_wrapper {
				width: 80%;	
			}
			
			#social_nav {
				width: 20%;
			}
		}
		
		&.include_phoneemail {
			.phone_email_wrapper {
				width: 100%;	
			}
		}
		
		&.include_sm {
			#social_nav {
				width: 100%;
			}
		}
	}
	
	&.fullwidth {
		.phone_email_wrapper {
			nav:first-child {
				padding-left: 20px;	
			}
		}
	}
	
	&.containerwidth {
		.phone_email_wrapper {
			padding-left: 0px;
		}
		
		#social_nav {
			ul {
				padding-right: 0px;
			}
		}
	}
}

/* attention header */

#attention_bar_header {
	background: #141618;
	height: 80px;
	text-align: center;
	
	.attention_bar_header_content {
		padding-top: 30px;
		
		h3 {
			color: $light_font;
			display: inline-block;
			font-size: 16px;
			vertical-align: middle;
		}
		
		div {
			display: inline-block;
			margin-left: 20px;
			vertical-align: middle;
			
			ul {
				li {
					a:link,
					a:visited {
						display: inline-block;
						color: $colorthree;
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
						text-decoration: none;
						@include transitions(opacity, .5s, ease);
					}
					
					a:hover,
					a:active {
						opacity: .5;
					}
				}
			}	
		}
	}
	
	&.full_width {
		padding: 0px 20px;
	}
}

/* adjustment to full height header */

#loginbar + #top_bar + #attention_bar_header + header#header_home.full {
	height: calc(100% - 139px);
}

#top_bar + #attention_bar_header + header#header_home.full {
	height: calc(100% - 115px);
}

#loginbar + #attention_bar_header + header#header_home.full {
	height: calc(100% - 104px);
}

#attention_bar_header + header#header_home.full {
	height: calc(100% - 80px);
}

#loginbar + #top_bar + header#header_home.full {
	height: calc(100% - 59px);
}

#top_bar + header#header_home.full {
	height: calc(100% - 35px);
}

#loginbar + header#header_home.full {
	height: calc(100% - 24px);
}


/* header & primary navigation */

header {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	position: relative;
	width: 100%;

	&.header_home_mobile,
	&.header_page_mobile {
		display: none;
	}
	
	&#header_home {
		&.fixed_tall {
			height: 550px;
		}
		
		&.fixed_short {
			height: 350px;
		}
	}
	
	&#header_page,
	&#header_page_mobile {
		height: 350px;
		
		#page_title {
			height: 70px;
			left: 50%;
			margin-left: -400px;
			margin-top: -25px;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 800px;
			
			h1.heading {
				color: $light_font;
				font-size: 32px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			
			h2.subheading {
				color: $light_font;
				font-size: 20px;
				font-weight: 500;
			}
			
			&.page_title_left {
				margin-left: -580px;
				text-align: left;
			}
			
			&.page_title_right {
				margin-left: -230px;
				text-align: right;
			}
		}
	}
	
	&#header_page {
		#nav_bar.top_navigation {
			& + #page_title {
				margin-top: 10px;
			}
		}
		
		#nav_bar.bottom_navigation {
			& + #page_title {
				margin-top: -70px;
			}
		}
		
		#nav_bar.full_navigation {
			& + #page_title {
				margin-top: 55px;
			}
		}
	}
	
	/* slideshow */

	&.slideshow,
	&.slideshow_tall,
	&.slideshow_short {
		background: #ffffff;
		
		.image_slide {
			height: 100%;
			position: absolute;
			width: 100%;
			
			&.slide_1 {
				background: url('../img/home.jpg') no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}
			
			&.slide_2 {
				background: url('../img/home2.jpg') no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}
			
			&.slide_3 {
				background: url('../img/home3.jpg') no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}
			
			.caption {
				height: 150px;
				left: 50%;
				margin-left: -580px;
				margin-top: -75px;
				position: absolute;
				top: 55%;
				z-index: 2;
				width: 800px;
				
				h1 {
					color: #ffffff;
					font-size: 42px;
					font-weight: 600;
					margin-bottom: 5px;
				}
				
				h2 {
					color: #ffffff;
					font-size: 32px;
					font-weight: 500;
					margin-bottom: 5px;
				}
				
				p {
					color: #ffffff;
					font-size: 18px;
					font-weight: 500;
					line-height: 22px;
					margin-bottom: 5px;
				}
				
				a:link,a:visited {
					background: $colorone;
					color: $light_font;
					display: inline-block;
					font-family: $secondary_font;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 2px;
					margin: 15px 20px 0px 0px;
					padding: 10px 25px;
					text-decoration: none;
					text-transform: uppercase;
					@include transition(.1s);
					@include border-radius(5px);
				}
						
				a:hover,a:active {
					opacity: .5;
				}
				
			}
		}
	}
	
	&.slideshow_tall {
		height: 550px;
		
		.image_slide {
			.caption {
				
			}
		}
	}
	
	&.slideshow_short {
		height: 350px;
		
		.image_slide {
			.caption {
				
			}
		}
	}
	
	/* desktop navigation */
	
	#nav_bar {
		background-color: rgba(#000000,.25);
		position: absolute;
		width: 100%;
		margin: 0 auto;
		z-index: 3;
		@include background_clip(padding-box);
		@include transition(.25s);
		
		.container {
			overflow-x: visible;
			overflow-y: visible;
		}
		
		#logo_main {
			display:inline-block;
			vertical-align: top;
			width: 20%;
		
			#logo_alt {
				display: none;
			}
			
			#logo_primary {
				display: block;
			}
			
			img {
				width: auto;
				height: 57px;
				padding: 20px 0px 20px 20px;
				@include transition(.25s);
			}
			
			h1 {
				
				a:link,
				a:visited {
					color: $light_font;
					display: block;
					font-size: 22px;
					font-weight: 500;
					padding: 40px 20px 0px 20px;
					text-decoration: none;
					@include transition(.1s);
				}
				
				a:hover,
				a:active {
					opacity: .9;
				}
			}
		}
		
		#nav_menu.include_logo {
			#primary_nav {
				width: 80%;
				
				#menu-primary {
					padding-right: 20px;
					text-align: right;
				}
			}
		}
		
		#nav_menu.include_sm {
			#primary_nav {
				width: 80%;
				
				#menu-primary {
					padding-left: 20px;
					text-align: left;
				}
			}
		}
		
		#nav_menu.include_logo.include_sm {
			#primary_nav {
				width: 60%;
				
				#menu-primary {
					text-align: center;
				}
			}
		}
		
		#primary_nav {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			
			ul {
				list-style:none;
				margin:0;
				padding:0;
				text-align: center;
				
				li {
					display: inline-block;
					position:relative;
					
					a:link,
					a:visited {
						color: $light_font;
						display: block;
						font-family: $secondary_font;
						font-size: 14px;
						font-weight: 600;
						letter-spacing: 2px;
						padding: 43px 10px;
						text-decoration: none;
						text-transform: uppercase;
						@include transitions(opacity, .5s, ease);
					}
					
					a:hover,
					a:active,
					&.current-menu-item {
						opacity: .5;
					}
				}
				
				li:hover {
					
					& > ul {
						opacity:1;
						top:100%;
						visibility:visible;
					}
					
					ul {
						z-index: 10;
						
						li {
							
							a:link,
							a:visited {
								color: #ffffff;
							}
						}
					}
				}
				
				ul {
					opacity:0;
					position:absolute;
					top:160%;
					visibility:hidden;
					z-index: 10;
					@include transitions(all, .5s, ease);
					
					li {
						background: rgba(#000000,.4);
						
						a:link,
						a:visited {
							text-align: left;
							padding: 15px 20px;
							width: 200px;
						}
					}
					
					li:hover {
						background: rgba(#000000,.6);
													
						& > ul {
							top:0%;
							left:100%;
							opacity:1;
							visibility:visible;
						}
					}
					
					& > li:last-child {
						display: inline-block;
					}
					
					ul {
						top:0%;
						left:160%;
						
						& > li:last-child {
							display: inline-block;
						}
					}
				}
			}
			
			&.nav_dark_bg .menu-primary-container > ul {
				& > li.menu-item-has-children {
					& > a:link,
					& > a:visited {
						background: url('csstone/features/light_arrow_down.png') no-repeat;
						background-position: right 10px top 38px;
						background-size: 20px 20px;
						padding-right: 30px;
					}
					
					& > ul {
						& > li.menu-item-has-children {
							& > a:link,
							& > a:visited {
								background: url('csstone/features/light_arrow_right.png') no-repeat;
								background-position: right 10px center;
								background-size: 20px 20px;
							}
							
							& > ul {
								& > li.menu-item-has-children {
									& > a:link,
									& > a:visited {
										background: url('csstone/features/light_arrow_right.png') no-repeat;
										background-position: right 10px center;
										background-size: 20px 20px;
									}
								}
							}
						}
					}
				}
			}
			
			&.nav_light_bg .menu-primary-container > ul {
				& > li.menu-item-has-children {
					& > a:link,
					& > a:visited {
						background: url('csstone/features/arrow_down.png') no-repeat;
						background-position: right 10px top 38px;
						background-size: 20px 20px;
						padding-right: 30px;
					}
					
					& > ul {
						& > li.menu-item-has-children {
							& > a:link,
							& > a:visited {
								background: url('csstone/features/arrow_right.png') no-repeat;
								background-position: right 10px center;
								background-size: 20px 20px;
							}
							
							& > ul {
								& > li.menu-item-has-children {
									& > a:link,
									& > a:visited {
										background: url('csstone/features/arrow_right.png') no-repeat;
										background-position: right 10px center;
										background-size: 20px 20px;
									}
								}
							}
						}
					}
				}
			}
		}
		
		#social_nav {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			
			ul {
				padding-right: 20px;
				text-align: right;
				
				li {
					display: inline-block;
					
					a:link,
					a:visited {
						color: $light_font;
						display: block;
						font-size: 14px;
						padding: 43px 10px;
						text-decoration: none;
						text-transform: uppercase;
						@include transitions(opacity, .5s, ease);
					}
					
					a:hover,
					a:active {
						opacity: .5;
					}
				}
			}
		}
		
		&.container_width {
			
			#logo_main {
				img {
					padding-left: 0px;
				}
				
				h1 {
					a:link,
					a:visited {
						padding: 40px 20px 0px 0px;
					}
				}
			}
			
			#nav_menu.include_sm {
				#primary_nav {
					#menu-primary {
						padding-left: 0px;
					}
				}
			}
			
			#nav_menu.include_logo {
				#primary_nav {
					#menu-primary {
						padding-right: 0px;
					}
				}
			}
			
			#social_nav {
				ul {
					padding-right: 0px;
				}
			}
		}
		
		&.top_navigation {
			border-bottom: 1px solid rgba(255,255,255,.1);
		}
		
		&.bottom_navigation {
			bottom: 0px;
			border-top: 1px solid rgba(255,255,255,.1);
		}
		
		&.full_navigation {
			
			#nav_menu.include_logo.include_sm {	
				#primary_nav {
					width: 80%;
					
					#menu-primary.menu {
						text-align: left;
					}
				}
			}
			
			#nav_menu {
				#logo_main {
					display: block;
					text-align: center;
					width: 100%;
					
					img {
						padding: 20px 0px;
					}
					
					h1 {
						a:link,
						a:visited {
							padding: 40.5px 0px 40.5px 0px;
						}
					}
				}
				
				#primary_nav {
					width: 100%;
					
					#menu-primary.menu {
						padding-right: 0px;
						text-align: center;
					}
				}
				
				.nav_logo_left {
					#logo_main {
						text-align: left;
						
						img {
							padding: 20px 0px 20px 20px;	
						}
						
						h1 {
							a:link,
							a:visited {
								padding: 40.5px 0px 40.5px 20px;
							}
						}
					}
				}
				
				.nav_logo_right {
					#logo_main {
						text-align: right;
						
						img {
							padding: 20px 20px 20px 0px;	
						}
						
						h1 {
							a:link,
							a:visited {
								padding: 40.5px 20px 40.5px 0px;
							}
						}
					}
				}
			}
		}
		
		&.full_navigation.container_width {
			#nav_menu {
				.nav_logo_left,
				.nav_logo_right {
					#logo_main {
						h1 {
							a:link,
							a:visited {
								padding: 40.5px 0px 40.5px 0px;
							}
						}
					}
				}
			}
		}
	}
	
	#nav_bar.scroll-fix {
		background: #ffffff;
		height: 70px;
		
		&.full_navigation {
			#nav_menu {
				#logo_main {
					display: none;
				}
			}
		}
		
		#logo_main {
		
			#logo_primary {
				display: none;
			}
			
			#logo_alt {
				display: block;
			}
			
			img {
				width: auto;
				height: 47px;
				padding: 10px 0px 10px 20px;
				@include transition(.25s);
			}
			
			h1 {
				
				a:link,
				a:visited {
					color: $dark_font;
					padding-top: 25px;
				}
			}
		}
		
		#primary_nav {
			ul {
				li {
					a:link,
					a:visited {
						color: $dark_font;
						padding: 28px 10px;
					}
					
					ul {
						li {
							a:link,
							a:visited {
								background: #f1f1f1;
								color: $dark_font;
								padding: 15px 20px;
							}
						}
					}
				}
			}
			
			&.scroll_nav_dark_bg .menu-primary-container > ul {
				& > li.menu-item-has-children {
					& > a:link,
					& > a:visited {
						background: url('csstone/features/light_arrow_down.png') no-repeat;
						background-position: right 10px top 24px;
						background-size: 20px 20px;
						padding-right: 30px;
					}
					
					& > ul {
						& > li.menu-item-has-children {
							& > a:link,
							& > a:visited {
								background: #f1f1f1 url('csstone/features/light_arrow_right.png') no-repeat;
								background-position: right 10px center;
								background-size: 20px 20px;
							}
							
							& > ul {
								& > li.menu-item-has-children {
									& > a:link,
									& > a:visited {
										background: #f1f1f1 url('csstone/features/light_arrow_right.png') no-repeat;
										background-position: right 10px center;
										background-size: 20px 20px;
									}
								}
							}
						}
					}
				}
			}
			
			&.scroll_nav_light_bg .menu-primary-container > ul {
				& > li.menu-item-has-children {
					& > a:link,
					& > a:visited {
						background: url('csstone/features/arrow_down.png') no-repeat;
						background-position: right 10px top 24px;
						background-size: 20px 20px;
						padding-right: 30px;
					}
					
					& > ul {
						& > li.menu-item-has-children {
							& > a:link,
							& > a:visited {
								background: #f1f1f1 url('csstone/features/arrow_right.png') no-repeat;
								background-position: right 10px center;
								background-size: 20px 20px;
							}
							
							& > ul {
								& > li.menu-item-has-children {
									& > a:link,
									& > a:visited {
										background: #f1f1f1 url('csstone/features/arrow_right.png') no-repeat;
										background-position: right 10px center;
										background-size: 20px 20px;
									}
								}
							}
						}
					}
				}
			}
		}
		
		#social_nav {			
			ul {
				li {
					
					a:link,
					a:visited {
						color: $dark_font;
						padding: 28px 10px;
					}
				}
			}
		}
		
		&.container_width {
			#logo_main {
				img {
					padding-left: 0px;
				}
			}
		}
	}
	
	#home_logo {
		height: 300px;
		left: 50%;
		margin-left: -400px;
		margin-top: -150px;
		position: absolute;
		text-align: center;
		top: 60%;
		width: 800px;
		
		img {
			height: 150px;
			margin-bottom: 40px;
			width: auto;
		}
		
		#home_logo_text_wrapper {
			margin: 0px 0px 20px 0px;
			
			h1,h2,h3,h4 {
				color: #ffffff;
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 10px;
			}
			
			h1 {
				font-size: 32px;
			}
		}
		
		#home_page_nav {
			ul {
				li {
					display: inline-block;
					margin: 0px 10px 20px 10px;
					
					a:link,
					a:visited {
						background: $colorone;
						color: #ffffff;
						display: block;
						font-weight: 600;
						font-size: 14px;
						letter-spacing: 2px;
						padding: 15px 25px;
						text-decoration: none;
						text-transform: uppercase;
						@include border-radius(5px);
						@include transitions(opacity, .5s, ease);
					}
					
					a:hover,
					a:active {
						opacity: .5;
					}
				}
			}
		}
		
		&.home_logo_left {
			text-align: left;
			margin-left: -580px;
				
			#home_page_nav {
				ul {
					li {
						margin: 0px 20px 0px 0px;
					}
				}
			}
		}
		
		&.home_logo_right {
			text-align: right;
			margin-left: -230px;
				
			#home_page_nav {
				ul {
					li {
						margin: 0px 0px 0px 20px;
					}
				}
			}
		}
	}
	
	#top_home_page_nav,
	#bottom_home_page_nav {
		position: absolute;
		width: 100%;
		
		&.menu-items-1,
		&.menu-items-2,
		&.menu-items-3,
		&.menu-items-4,
		&.menu-items-5 {
			ul {
				li {
					display: block;
					float: left;
					
					a:link,
					a:visited {
						background: $colorthree;
						color: $light_font;
						display: block;
						font-weight: 600;
						font-size: 18px;
						height: 60px;
						letter-spacing: 2px;
						line-height: 60px;
						text-decoration: none;
						text-align: center;
						text-transform: uppercase;
						@include transitions(opacity, .5s, ease);
					}
					
					a:hover,
					a:active {
						opacity: .5;
					}
				}
			}	
		}
		
		&.menu-items-1 {
			ul {
				li {
					width: 100%;
				}
			}
		}
		
		&.menu-items-2 {
			ul {
				li {
					width: 50%;
				}
			}
		}
		
		&.menu-items-3 {
			ul {
				li {
					width: 33.333333333332%;
				}
			}
		}
		
		&.menu-items-4 {
			ul {
				li {
					width: 25%;
				}
			}
		}
		
		&.menu-items-5 {
			ul {
				li {
					width: 20%;
				}
			}
		}
	}
	
	#top_home_page_nav {
		top: 0px;
	}
	
	#bottom_home_page_nav {
		bottom: 0px;
	}
	
	&#header_home {
		&.fixed_short {
			#home_logo {
				height: 200px;
				margin-top: -100px;
				top: 65%;
				
				img {
					height: 80px;
				}
			}
		}
	}
	
	.image_overlay {
		background: rgba($colortwo, .75);
		height: 100%;
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 0;
	}
}

/* mobile nav */

a#mobileopen:link,
a#mobileopen:visited,
a#mobileclose:link,
a#mobileclose:visited {
	color: $light_font;
	display: none;
	font-size: 24px;
	height: 40px;
	line-height: 45px;
	position: absolute;
	right: 50px;
	text-align: center;
	text-decoration: none;
	top: 40px;
	width: 40px;
	z-index: 4;
	@include transition(.1s);
	@include border-radius(5px);
}

a#mobileopen:link,
a#mobileopen:visited {
	background: $colorone;
}

a#mobileopen:hover,
a#mobileopen:active,
a#mobileclose:hover,
a#mobileclose:active {
	opacity: .5;
}

a#mobileclose:link,
a#mobileclose:visited {
	color: $light_font;
}

header#header_home_mobile,
header#header_page_mobile {
	display: none;
	
	.mobile_navigation_bar {
		background: $colorone;
		padding: 10px 0px;
		position:relative;
		z-index: 4;
		
		#logo_mobile {
			img {
				height: 50px;
				margin-left: 10px;
			}
		}
		
		h1 {
			height: 50px;
			line-height: 50px;
			
			a:link,
			a:visited {
				color: $light_font;
				display: block;
				font-size: 22px;
				font-weight: 500;
				margin-left: 10px;
				text-decoration: none;
			}
		}
		
		#mobileopen {
			background: $transparent;
			border: none;
			color: #ffffff;
			right: 10px;
			top: 15px;
		}
		
		& + #mobile_nav {
			#mobileclose {
				right: 10px;
				top: -58px;
			}
		}
	}
	
	.mobile_navigation_bar + #mobile_nav + #home_logo + #top_home_page_nav,
	.mobile_navigation_bar + #mobile_nav + #top_home_page_nav {
		top: 70px;
	}
}

#mobile_nav {
	background: rgba($colortwo,.9);
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 4;
	
	.mobile_nav_wrapper {
		height: 100%;
		overflow-y: auto;
	
		.menu-primary-container {
			margin-top: 50px;
			
			ul {
				li {
					padding: 5px 0;
					
					a:link,a:visited {
						color: $light_font;
						font-family: $primary_font;
						font-size: 20px;
						font-weight: 600;
						letter-spacing: 2px;
						text-transform: uppercase;
						text-decoration: none;
					}
					
					ul.sub-menu {
						margin-top: 10px;
						
						li {
							a:link,a:visited {
								font-size: 16px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
		
		#social_nav {
			ul {
				margin: 40px 0px;
				
				li {
					display: inline-block;
					
					a:link,a:visited {
						color: $light_font;
						font-size: 18px;
						padding: 0 10px;
						text-decoration: none;
					}
				}
			}
		}
		
		#mobile_search {
			margin-top: 20px;
			
			input[type="text"] {
				background: $transparent;
				border: none;
				color: $light_font;
				font-size: 16px;
				vertical-align: middle;
				width: 180px;
			}
			
			input[type="submit"] {
				background: #ffffff;
				color: $colorone;
				cursor: pointer;
				display: inline-block;
				font-family: $primary_font;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 2px;
				padding: 5px 15px;
				text-transform: uppercase;
				@include border-radius(5px);
				@include appearance(none);
				@include transition(.1s);
			}
			
			input[type="submit"]:hover {
				opacity: .5;
			}
			
			input:focus{
			    outline: none;
			}
			
			::-webkit-input-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
			::-moz-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
			:-ms-input-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
			:-moz-placeholder {
			  	color: $light_font;
			  	font-weight: 300;
			  	opacity: .5;
			}
		}
		
		.bottom_spacing {
			display: block;
			height: 100px;
		}
	}
}

/* secondary nav */

.secondary_nav_wrapper {
	background: $colorone;
	padding: 10px 0px;
	
	#secondary_nav {
		ul {
			text-align: center;
			
			li {
				display: inline-block;
				
				a:link,
				a:visited {
					color: #ffffff;
					display: block;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 2px;
					padding: 10px;
					text-decoration: none;
					text-transform: uppercase;
					@include transitions(opacity, .15s, linear);
				}
				
				a:hover,
				a:active {
					opacity: .5;
				}
			}
		}
	}
}

/* breadcrumbs */

.breadcrumb_wrapper {
	margin-bottom: 30px;
	
	span.breadcrumbs {
		font-size: 13px;
		
		a:link,a:visited {
			color: $colorone;
			font-weight: 500;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
}

/* call out boxes */

#call_out_boxes {
	background: $backgroundalt;
	padding: 50px 0px;
	
	.cob_1,
	.cob_2,
	.cob_3,
	.cob_4,
	.cob_5 {
		display: inline-block;
		vertical-align: top;
		
		.call_out_boxes_item {
			padding-right: 20px;
			
			.circle {
				&.fas {
					background: $colorone;
					color: #ffffff;
					display: block;
					height: 50px;
					float: left;
					font-size: 24px;
					line-height: 50px;
					margin: 0px 20px 20px 0px;
					text-align: center;
					width: 50px;
					@include border-radius(25px);
				}
				
				&.image-icon {
					background: $colorone;
					display: block;
					height: 50px;
					float: left;
					margin: 0px 20px 20px 0px;
					width: 50px;
					@include border-radius(25px);
					
					img {
						height: auto;
						padding: 10px;
						width: calc(100% - 20px);
					}
				}
			}
			
			.square {
				&.fas {
					background: $colorone;
					color: #ffffff;
					display: block;
					height: 50px;
					float: left;
					font-size: 24px;
					line-height: 50px;
					margin: 0px 20px 20px 0px;
					text-align: center;
					width: 50px;
					@include border-radius(5px);
				}
				
				&.image-icon {
					background: $colorone;
					display: block;
					height: 50px;
					float: left;
					margin: 0px 20px 20px 0px;
					width: 50px;
					@include border-radius(5px);
					
					img {
						height: auto;
						padding: 10px;
						width: calc(100% - 20px);
					}
				}
			}
			
			h1,h2,h3 {
				color: $colorone;
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			
			p {
				color: $dark_font;
				line-height: 22px;
				margin-bottom: 20px;
			}
			
			a:link,
			a:visited {
				background: $colorone;
			    color: #ffffff;
			    display: inline-block;
			    font-weight: 600;
			    font-size: 14px;
			    letter-spacing: 2px;
			    padding: 6px 20px;
			    text-transform: uppercase;
			    text-decoration: none;
			    @include border-radius(5px);
			    @include transitions(opacity, .15s, linear);
			}
			
			a:hover,
			a:active {
				opacity: .5;
			}
		}
	}
	
	.cob_1 {
		width: 100%;
	}
	
	.cob_2 {
		width: 50%;
	}
	
	.cob_3 {
		width: 33.333333333332%;
	}
	
	.cob_4 {
		width: 25%;
	}
	
	.cob_5 {
		width: 20%;
	}
}

/* main */

#main {
	padding: 60px 0;
	position: relative;
}

/* content */

.content {
	margin-bottom: 30px;

	h1, h2, h3, h4 {
		color: $dark_font;
		font-weight: 500;
		letter-spacing: -1px;
	}
	
	h1 {
		color: $colorone;
		font-size: 36px;
		margin-bottom: 10px;
	}
	
	h2 {
		font-size: 28px;
		line-height: 42px;
		margin-bottom: 10px;
	}
	
	h3 {
		color: $colorone;
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	
	h3.page_title {
		margin: 10px 0 5px 0;
	}
	
	h4 {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	
	span.accent {
		color: $colorone;
	}
	
	strong {
		font-weight: 500;
	}
	
	em {
		font-style: italic;
	}
	
	p {
		color: $gray_font;
		font-size: 18px;
		line-height: 32px;
		margin-bottom: 20px;
	}
	
	ul {
		margin: 0px 0px 20px 20px;
		
		li {
			color: $gray_font;
			font-size: 18px;
			line-height: 32px;
			list-style: disc;
		}
	}
	
	a:link,a:visited {
		color: $colorone;
		font-weight: 400;
		text-decoration: none;
		@include transition(.1s);
	}
	
	a:hover,a:active {
		opacity: .5;
	}
	
	a.button:link,
	a.button:visited {
		background: $colorone;
		color: $light_font;
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		padding: 15px 25px;
		text-transform: uppercase;
		@include transition(.1s);
		@include border-radius(5px);
	}
	
	a.button:visited,
	a.button:active {
		background: $colorone;
		opacity: .7;
	}
}

/* sidebar */

.sidebar {
	margin-bottom: 30px;
	
	h3 {
		color: $light_font;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	
	.business_information_wrapper {
		background: $colorone;
		margin-bottom: 40px;
		padding: 30px;
		@include border-radius(5px);
		
		img {
			height: auto;
			margin-bottom: 40px;
			width: 100%;
		}
	
		ul.business_hours {
			margin-bottom: 30px;
				
			li {
				line-height: 28px;
					
				span {
					color: $light_font;
					display: inline-block;
					font-weight: 300;
				}
					
				span:nth-child(1) {
					font-weight: 500;
					width: 120px;
				}
					
				span:nth-child(2) {
					width: 180px;
				}
			}
		}
		
		p {
			color: $light_font;
			font-size: 14px;
			line-height: 20px;
			margin-top: 10px;
		}
		
		.contact_info {
			ul {
				margin-bottom: 5px;
				
				li {
					color: $light_font;
					font-weight: 500;
					line-height: 28px;
				}
			}	
		}
		
		ul.sidebar_links {
			margin-top: 40px;
			
			li {
				margin-bottom: 10px;
				
				a:link,
				a:visited {
					background: $colortwo;
					color: $light_font;
					display: block;
					font-weight: 600;
					font-size: 14px;
					letter-spacing: 2px;
					padding: 8px 20px;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					@include border-radius(5px);
					@include transition(.1s);
					
					.fas {
						margin: 0px;
					}
				}
			}
			
			li:last-child {
				margin-bottom: 0px;
			}
		}
	}
	
	a:link,a:visited {
		color: $light_font;
		font-weight: 400;
		text-decoration: none;
		@include transition(.1s);
		
		.fas {
			margin-right: 10px;
		}
	}
	
	a:hover,a:active {
		opacity: .5;
	}
	
	iframe {
		height: 250px;
		margin-bottom: 40px;
		width: 100%;
	}
}

/* hr */

hr.divider {
	background: $colorone;
	border: 0px;
	display: block;
	height: 2px;
	margin: 30px 0px;
	width: 100px;
}

hr {
	background: rgba(#ffffff,0.25);
	border: 0px;
	display: block;
	height: 1px;
	margin: 30px auto;
	width: 100%;
}

/* edit button */

.edit_button {
	padding: 10px 0;
	text-align: center;
	
	a:link,
	a:visited {
		background: $colorone;
		color: $light_font;
		display: inline-block;
		text-decoration: none;
		padding: 2px 5px;
		@include border_radius(2px);
	}
	
	a:hover,
	a:active {
		opacity: .7;
	}
}

/* search form */

#page_searchform {
	input[type="text"] {
		display: block;
		margin-bottom: 20px;
		width: 300px;
	}
}

/* blog */

.blog_home {
	background: $backgroundalt;

	article.blog_preview {
		background: $background;
		float: left;
		height: 700px;
		margin: 0 10px 20px 10px;
		overflow: hidden;
		width: 31.5%;
		@include border-radius(5px);
		
		.blog_image_preview {
			height: 150px;
			
			&.default {
				background: url('../img/blog_default.jpg') no-repeat;
				background-size: cover;
				background-position: center center;
			}
		}
		
		h2 {
			
			a:link,a:visited {
				color: $dark_font;
				display: block;
				font-size: 22px;
				line-height: 32px;
				margin: 50px 50px 10px 50px;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
		}
		
		p {
			font-size: 14px;
			line-height: 28px;
			margin: 20px 50px 50px 50px;
		}
		
		hr {
			background: rgba(#ffffff,0.25);
			border: none;
			display: block;
			height: 1px;
			margin: 0px 50px;
			width: calc(100% - 100px);
		}
		
		span.edit {
			display: block;
			margin: 0px 50px 50px 50px;
			
			a:link,a:visited {
				color: $colorone;
				font-weight: 400;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
		}
		
		span.author,
		span.date {
			font-family: $primary_font;
			color: $gray_font;
			display: block;
			font-size: 14px;
			
			img {
				@include border-radius(15px);
			}
			
			a:link, a:visited {
				color: $colorone;
				font-weight: 400;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
		}
		
		span.author {
			font-size: 12px;
			margin: 50px 50px 50px 50px;
		}
		
		span.date {
			margin: 0px 50px 50px 50px;
		}
	}
}

article.blog_entry {
	
	h1 {
		text-align: center;
	}
	
	.meta {
		margin-bottom: 50px;
		text-align: center;
		
		span.date,
		span.author,
		span.category {
			color: $gray_font;
			display: inline-block;
			font-size: 14px;
			font-family: $secondary_font;
			letter-spacing: 1px;
			text-transform: uppercase;
			
			a:link, a:visited {
				color: $colorone;
				font-weight: 400;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover, a:active {
				opacity: .5;
			}
		}
		
		span.sep {
			color: $gray_font;
			font-size: 12px;
			margin: 0 10px;
		}
		
		span.category {
			ul {
				li {
					display: inline-block;
				}
			}
		}	
	}
	
	img.wp-post-image {
		height: auto;
		margin-bottom: 50px;
		width: 100%;
	}
	
	.blog_image_single {
		height: 250px;
		margin-bottom: 20px;
		@include border-radius(5px);
		
		&.default {
			background: url('../img/blog_default.jpg') no-repeat;
			background-size: cover;
			background-position: center center;
		}
	}
	
	span.edit {
		display: block;
		margin-bottom: 20px;
		
		a:link,a:visited {
			color: $colorone;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	.tagcloud {
		
		a:link,a:visited {
			border: 1px solid $colorone;
			color: $colorone;
			display: inline-block;
			font-family: $secondary_font;
			font-size: 12px !important;
			line-height: 20px;
			font-weight: 600;
			letter-spacing: 2px;
			margin: 0 7px 7px 0;
			padding: 4px 10px;
			text-decoration: none;
			text-transform: uppercase;
			@include border-radius(5px);
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
}

.blog_sidebar {
	background: $backgroundalt;
	padding-bottom: 150px;
	
	#blog_sidebar_1,#blog_sidebar_2 {
		background: $background;
		@include border-radius(5px);
		
		h3 {
			color: $dark_font;
			display: block;
			font-size: 22px;
			line-height: 44px;
			padding: 50px 50px 10px 50px;
			position: relative;
		}
		
		ul {
			padding: 10px 50px 50px 50px;
			
			li {
				font-size: 10px;
				line-height: 20px;
				
				a:link,a:visited {
					color: $colorone;
					font-size: 14px;
					font-weight: 400;
					line-height: 28px;
					text-decoration: none;
					@include transition(.1s);
				}
				
				a:hover,a:active {
					opacity: .5;
				}
			}
		}
	}
}

/* parallax */

#parallax {
	background: url('../img/parallax.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 350px;
	
	&.parallax_tall {
		height: 400px;
	}
	
	.filter {
		background: rgba($colortwo,.5);
		display: block;
		height: calc(100% - 280px);
		padding: 140px 0;
		width: 100%;
		
		h1, h2, h3, h4 {
			color: $light_font;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 10px;
			text-align: center;
		}
		
		p, span {
			color: $light_font;
			font-size: 18px;
			line-height: 28px;
			text-align: center;
		}
		
		.testimonial {
			
			span {
				display: block;
				
				&.test-rating {
					margin-bottom: 15px;
					i {
						font-size: 30px;
					}
				}
				
				&.test-content {
					font-size: 22px;
					margin-bottom: 10px;
				}
				
				&.test-author {
					font-weight: 600;
				}
				
				&.test-date {
					font-size: 16px;
				}
			}
		}
	}
}

/* attention bar */

#attention_bar {
	background: $colortwo;
	padding: 60px 0;
	text-align: center;
	position: relative;
	
	.attention_bar_top,
	.attention_bar_bottom {
		margin: 0 auto;
		padding: 0px 20px;
		width: 1160px;
	
		h3 {
			color: $light_font;
			font-size: 24px;
			font-weight: 500;
			line-height: 28px;
			margin: 0px 10px 10px 10px;
		}
		
		p {
			color: $light_font;
			font-size: 18px;
			line-height: 32px;
			margin: 0 auto 10px auto;
			width: 1000px;
		}
		
		ul {
			
			li {
				display: inline-block;
				
				a:link,a:visited {
					color: $colortwo;
					background: #ffffff;
					display: inline-block;
					font-weight: 600;
					font-size: 14px;
					letter-spacing: 2px;
					margin: 10px 10px 0px 10px;
					padding: 15px 25px;
					text-decoration: none;
					text-transform: uppercase;
					@include border-radius(5px);
					@include transition(.1s);
				}
				
				a:hover,a:active {
					opacity: .5;
				}
			}
		}
	}
	
	&.horizontal_bar {
		
		.attention_bar_top,
		.attention_bar_bottom {
			
			h3 {
				display: inline-block;
				margin: 0px;
				text-align: left;
				vertical-align: middle;
				width: 75%;
			}
			
			h3 + div {
				display: inline-block;
				text-align: right;
				vertical-align: middle;
				width: 25%;
				
				ul {
					li {
						a:link,
						a:visited {
							margin: 0px;
						}
					}
				}
			}
		}
	}
}

/* footer */

footer {
	background: $footer;
	padding: 60px 0;
	
	h3 {
		color: $light_font;
		font-family: $secondary_font;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 2px;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	
	p {
		color: $light_font;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
	}
	
	ul {
		
		li {
			
			a:link,a:visited {
				color: $light_font;
				font-family: $secondary_font;
				font-size: 14px;
				font-weight: 300;
				line-height: 28px;
				letter-spacing: 1px;
				text-decoration: none;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				opacity: .5;
			}
			
			.post-date {
				color: $light_font;
				display: block;
				font-family: $secondary_font;
				font-weight: 300;
				line-height: 14px;
				letter-spacing: 1px;
				font-size: 11px;
				margin-bottom: 10px;
				opacity: .8;
			}
		}
	}
	
	.tagcloud {
		
		a:link,a:visited {
			border: 1px solid rgba(#ffffff,.25);
			color: $light_font;
			display: inline-block;
			font-family: $secondary_font;
			font-size: 12px !important;
			line-height: 16px;
			font-weight: 300;
			letter-spacing: 2px;
			margin: 0 2px 7px 0;
			padding: 4px 10px;
			text-decoration: none;
			text-transform: uppercase;
			@include border-radius(5px);
			@include transition(.1s);
		}
		
		a:hover,a:active {
			opacity: .5;
		}
	}
	
	#logo_footer {
		text-align: center;
		
		img {
			height: 100px;
			margin-bottom: 10px;
			width: auto;
		}
		
		h1 {
			font-size: 24px;
			font-weight: 500;
			line-height: 32px;
			
			a:link,
			a:visited {
				color: $light_font;
				text-decoration: none;
			}	
		}
		
		h2 {
			color: $light_font;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
		}
	}
}

/* copyright */

#copyright {
	background: $copyright;
	padding: 20px 0;
	
	#copyright_content {
		display: inline-block;
		vertical-align: top;
		width: 80%;
		
		p {
			color: $light_font;
			font-family: $secondary_font;
			font-size: 13px;
			font-weight: 300;
			margin-left: 20px;
		}
		
		a:link, a:visited {
			color: $light_font;
			font-weight: 400;
			text-decoration: none;
			@include transition(.1s);
		}
		
		a:hover, a:active {
			opacity: .5;
		}
	}
	
	#social_nav {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		
		ul {
			margin-right: 20px;
			text-align: right;
			
			li {
				display: inline-block;
				
				a:link, a:visited {
					color: $light_font;
					display: block;
					padding: 0px 10px;
					text-decoration: none;
					@include transition(.1s);
				}
				
				a:hover,
				a:active {
					opacity: .5;
				}
			}
		}
	}
	
	&.container_width {
		#copyright_content {
			p {
				margin-left: 0px;
			}
		}
		
		#social_nav {
			ul {
				margin-right: 0px;
			}
		}
	}
}

/* protected pages */

.login_wrapper {
	background: $background;
	margin: 0 auto;
	padding: 40px;
	width: 300px;
}

/* woocommerce styling */

.woocommerce {
	margin-top: 40px;
	
	.woocommerce-result-count {
		font-weight: 500;
	}
	
	.products {
		.product {
			.onsale {
				background: $colorthree;
			}
			
			.price {
				.amount {
					color: $colorthree;
				}
			}
		}
	}
	
	.single-product {
		.product {
			.onsale {
				background: $colorthree;
			}
			
			.price {
				.amount {
					color: $colorthree;
				}
			}
			
			.stock {
				font-size: 18px;
				font-weight: 500;
				line-height: 32px;
			}
			
			.cart {
				button[type="submit"] {
					background: $colorthree;
					font-size: 14px;
					margin-top: 10px;
					text-transform: uppercase;
					padding: 12px 20px;
					@include transition(.1s);
				}
				
				button[type="submit"]:hover {
					opacity: .5;
				}
			}
			
			.product_meta {
				.sku_wrapper,
				.posted_in,
				.tagged_as {
					color: #777777;
					display: block;
					font-size: 18px;
					font-weight: 500;
					line-height: 32px;
					
					span {
						font-weight: 300;
					}
					
					a:link,
					a:visited {
						color: $colorthree;
					}
				}
			}
		}
	}
	
	.cart-collaterals {
		.cart_totals {
			.wc-proceed-to-checkout {
				a:link,
				a:visited {
					&.button {
						font-weight: 600;
					}
				}
				
				a:hover,
				a:active {
					&.button {
						background: $colorone;
					}
				}
			}
		}
	}
	
	.woocommerce-MyAccount-navigation {
		ul {
			margin: 0px;
			padding: 0px;
			
			li {
				list-style: none;
				
				a:link,
				a:visited {
					background: $colorone;
					color: $light_font;
					display: block;
					margin-bottom: 10px;
					padding: 10px 20px;
					width: 80%;
					@include border-radius(5px);
				}
			}
		}
	}
	
	.woocommerce-MyAccount-content {
		header.title {
			background: $background;
		}
	}
}

.sidebar {
	div[id*="woocommerce"] {
		background: $colorone;
		padding: 40px;
		@include border-radius(5px);
		
		.widget_shopping_cart_content {
			
			a:link,
			a:visited {
				display: block;
				font-size: 18px;
				line-height: 32px;
				
				&.remove {
					color: $light_font !important;
					display: block;
					font-size: 22px;
					height: auto;
					text-align: right;
					width: 100%;
					@include transition(.25s);
				}
				
				img {
					height: auto;
					width: 100%;
				}
			}
			
			a:hover,
			a:active {
				&.remove {
					background: transparent;
					opacity: .5;
				}
			}
			
			.quantity {
				color: $light_font;
				font-size: 18px;
				line-height: 32px;
			}
		}
		
		.total {
			.amount {
				color: $light_font;
				font-size: 18px;
				line-height: 32px;
			}
			
			strong {
				color: $light_font;
				font-weight: 500;
				font-size: 18px;
				line-height: 32px;
			}
		}
		
		.buttons {
			margin-top: 10px;
			
			a:link,
			a:visited {
				background: $light_font;
				color: $colorone;
				display: inline-block;
				font-size: 16px;
				margin-right: 10px;
				padding: 5px 20px;
				text-transform: uppercase;
				@include border-radius(5px);
			}
		}
	}
}

/* WordPress Core */

.content .alignnone {
    margin: 5px 20px 20px 0;
}

.content .alignnone.size-full {
	width: 100%;
	height: auto;
}

.content .aligncenter,
.content div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.content img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.content img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.content a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.content a img.alignnone {
    margin: 5px 20px 20px 0;
}

.content a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.content a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.content .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
    width: 100% !important;
}

.content .wp-caption.alignleft {
	float: left;
    margin: 5px 20px 20px 0;
}

.content .wp-caption.alignright {
	float: right;
    margin: 5px 0 20px 20px;
}

.content .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.content .wp-caption.alignnone img {
	height: auto;
	width: 100%;
}

.content .wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0 4px 5px;
}

.content blockquote p {
	background: #eaeaea;
	display: block;
	padding: 20px;
}

.content img.wp-post-image {
	height: auto;
	margin-bottom: 50px;
	width: 100%;
}

.content iframe {
	display: block;
	margin: 0 auto;
}
