/* body */

$background: #ffffff;
$backgroundalt: #f1f1f1;
$colorone: #4D70A4;
$colortwo: #2F4464;
$colorthree: #71A4F0;
$footer: #1b1d1f;
$copyright: #141618;
$transparent: transparent;

/* fonts */

$primary_font: 'Poppins', sans-serif;
$secondary_font: 'Hind', sans-serif;
$primary_weight: 300;
$primary_size: 16px;
$bold_weight: 500;
$light_font: #ffffff;
$dark_font: #303133;
$gray_font: #777777;

/* cornerstone framework */
@import 'csstone/csstone';

/* features, mixins */

@import 'csstone/mixins';
@import 'csstone/features';

/* theme */

@import 'theme';

/* media queries */

@import 'responsive/tab_landscape';
@import 'responsive/tab_portrait';
@import 'responsive/mob_landscape';
@import 'responsive/mob_portrait';