$icomoon-font-path: "fonts" !default;

$icon-tools: "\e921";
$icon-mouse: "\e91d";
$icon-search-light: "\e91c";
$icon-sunglasses: "\e900";
$icon-calendar: "\e901";
$icon-keyboard_arrow_up: "\e918";
$icon-keyboard_arrow_right: "\e919";
$icon-keyboard_arrow_left: "\e91a";
$icon-keyboard_arrow_down: "\e91b";
$icon-expand: "\e91f";
$icon-search: "\e91e";
$icon-eye: "\e917";
$icon-camera: "\e902";
$icon-location: "\e903";
$icon-quotes-left: "\e904";
$icon-quotes-right: "\e905";
$icon-numbered-list: "\e906";
$icon-square-list: "\e907";
$icon-circle-list: "\e908";
$icon-menu: "\e909";
$icon-eye3: "\e90a";
$icon-share: "\e90b";
$icon-googleplus: "\e90c";
$icon-facebook: "\e90d";
$icon-instagram: "\e90e";
$icon-twitter: "\e90f";
$icon-rss: "\e910";
$icon-youtube: "\e911";
$icon-vimeo: "\e912";
$icon-tumblr: "\e913";
$icon-linkedin: "\e914";
$icon-pinterest: "\e915";
$icon-yelp: "\e916";
$icon-spoon-knife: "\e9a3";
$icon-github: "\eab0";
$icon-codepen: "\eae8";
$icon-flickr: "\eaa4";
$icon-snapchat: "\e920";
$icon-user: "\f007";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-blog: "\f040";
$icon-arrow-left: "\f053";
$icon-arrow-right: "\f054";
$icon-plus: "\f067";
$icon-asterisk: "\f069";
$icon-eye2: "\f06e";
$icon-arrow-up: "\f077";
$icon-arrow-down: "\f078";
$icon-cart: "\f07a";
$icon-settings: "\f085";
$icon-phone: "\f095";
$icon-users: "\f0c0";
$icon-mail: "\f0e0";
$icon-blurb: "\f0e6";
$icon-download: "\f0ed";
$icon-upload: "\f0ee";
$icon-doctor: "\f0f0";
$icon-stethoscope: "\f0f1";
$icon-desktop: "\f108";
$icon-laptop: "\f109";
$icon-tablet: "\f10a";
$icon-mobile: "\f10b";
$icon-file: "\f15c";
$icon-pdf: "\f1c1";
$icon-visa: "\f1f0";
$icon-mastercard: "\f1f1";
$icon-discover: "\f1f2";
$icon-americanexpress: "\f1f3";
$icon-creditcard: "\f283";
$icon-home: "\e922";

