/* accordion */

#gallery {
	
	.gallery_wrapper {
		display: inline-block;
		width: calc(25% - 20px);
		height: 150px;
		margin: 0px 10px 20px 10px;
		overflow: hidden;
		
		a:link,
		a:visited {
			display: block;
			height: 100%;
			position: relative;
			width: 100%;
			
			.filter {
				background: $transparent;
				display: block;
				height: 100%;
				position: absolute;
				width: 100%;
				@include transition(.15s);
				
				.icon {
					color: $light_font;
					display: block;
					line-height: 150px;
					opacity: 0;
					text-align: center;
					@include transition(.15s);
				}
			}
			
			.filter:hover {
				background: $transblack;
				
				.icon {
					opacity: 1;
				}
			}
			
			img {
				display: block;
				height: auto;
				width: 100%;
			}
		}
	}
}

.default_editor + .container #gallery {
	margin-top: 50px;
}

#accordion {
	
	& > h3 {
		background: url('cornerstone/features/arrow_right.png') no-repeat;
		background-position: right center;
		background-size: 18px 18px;
		border-top: 1px solid $primary;
		color: $dark_font;
		display: block;
		cursor: pointer;
		font-family: $secondary_font;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 2px;
		padding: 25px 0;
		text-transform: uppercase;
		@include transition(.1s);
	}
		
	& > h3:first-child {
		border-top: none;
	}
		
	& > h3:hover, & > h3.ui-state-active {
		color: $primary;
		background: url('cornerstone/features/arrow_down.png') no-repeat;
		background-position: right center;
		background-size: 18px 18px;
	}
	
	div.ui-accordion-content p:last-child {
		padding-bottom: 50px;
	}
		
	:focus,:active {
		outline: 0;
	}
	
}

.default_editor + .container #accordion {
	margin-top: 50px;
}

/* horizontal tabs */

#tabs {
	
	& > ul {
		border-bottom: 1px solid $primary;
		margin: 0 0 25px 0;
		
		li {
			display: inline-block;
			
			a:link,a:visited {
				color: $dark_font;
				display: block;
				font-family: $secondary_font;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 2px;
				margin-right: 20px;
				padding: 25px 0;
				text-decoration: none;
				text-transform: uppercase;
				@include transition(.1s);
			}
			
			a:hover,a:active {
				color: $primary;
			}
		}
		
		li.ui-tabs-active {
			a:link,
			a:visited {
				color: $primary;
				border-bottom: 1px solid $primary;
				@include transition(.1s);
			}
			
			a:hover,
			a:active {
				opacity: .5;
			}
		}
	}
	
	div.ui-tabs-panel p:last-child {
		margin-bottom: 20px;
	}
	
	:focus,:active {
		outline: 0;
	}
}

.default_editor + .container #tabs {
	margin-top: 50px;
}


/* form styling */

.content {

	form {
		
		ul {
			margin-left: 0px;
			
			li {
				list-style: none;
			}
		}
	
		label {
			color: $primary;
			font-size: 14px;
			font-weight: 400;
		}
		
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="submit"],
		input[type="password"],
		textarea,
		select {
			background: $background;
			border: 1px solid $primary;
			color: $dark_font;
			font-size: 14px;
			margin-top: 10px;
			padding: 10px 15px;
			width: calc(100% - 30px);
			@include border-radius(2px);
			@include appearance(none);
		}
		
		select {
			width: 100%;
		}
		
		input + label,
		select + label,
		textarea + label {
			color: $gray_font;
			font-size: 12px;
		}
		
		input[type="submit"] {
			background: $primary;
			color: $light_font;
			cursor: pointer;
			font-family: $secondary_font;
			letter-spacing: 2px;
			line-height: 22px;
			text-transform: uppercase;
			width: 200px;
			@include transition(.1s);
		}
		
		input[type="submit"]:hover {
			opacity: .5;
		}
		
		input:focus,
		textarea:focus {
		    outline: none;
		    border: 1px solid $primary;
		}
		
		::-webkit-input-placeholder {
			color: $light_font;
			font-weight: 300;
			opacity: .5;
		}
		
		::-moz-placeholder {
			color: $light_font;
			font-weight: 300;
			opacity: .5;
		}
		
		:-ms-input-placeholder {
			color: $light_font;
			font-weight: 300;
			opacity: .5;
		}
		
		:-moz-placeholder {
			color: $light_font;
			font-weight: 300;
			opacity: .5;
		}
	}
}

/* gravity forms specific */

.content {
	
	form {
		
		span.gform_description {
			color: $gray_font;
			display: inline-block;
			margin-bottom: 20px;
		}
		
		ul.gform_fields {
		
			li {
				margin-bottom: 20px;
				
				span.name_first,
				span.name_last {
					display: inline-block;
					width: 422px;
				}
				
				span.name_first {
					margin-right: 10px;
				}
			}	
		}
	}
}


@media (min-width: 980px) and (max-width: 1220px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	
	#gallery {
		.gallery_wrapper {
			width: calc(50% - 20px);	
		}
	}
	
}

@media (min-width: 480px) and (max-width: 767px) {
	
	#gallery {
		.gallery_wrapper {
			width: calc(50% - 20px);	
		}
	}
	
}

@media (min-width: 0px) and (max-width: 479px) {
	
	#gallery {
		.gallery_wrapper {
			width: calc(100% - 20px);	
		}
	}
	
}