/* desktop navigation */

header {
	.primary_nav {
		background: $accent;
		z-index: 10;
		
		.container {
			overflow-x: visible;
			overflow-y: visible;
			
			nav {
				display:table;
				margin: 0 auto;
				
				ul {
					list-style:none;
					margin:0;
					padding:0;
					
					li {
						float:left;
						position:relative;
						
						a:link,
						a:visited {
							color: #ffffff;
							display: block;
							font-weight: 300;
							padding: 0px 20px 25px 20px;
							text-decoration: none;
							text-transform: uppercase;
							@include transitions(color, .5s, ease);
						}
						
						a:hover,
						a:active {
							color: $primary;
						}
					}
					
					li:hover {
						
						& > ul {
							opacity:1;
							top:100%;
							visibility:visible;
						}
						
						a:link,
						a:visited {
							color: $primary;
						}
						
						ul {
							z-index: 10;
							
							li {
								a:link,
								a:visited {
									color: #ffffff;
								}
								
								a:hover,
								a:active {
									color: $primary;
								}
							}
						}
					}
					
					ul {
						opacity:0;
						position:absolute;
						top:160%;
						visibility:hidden;
						z-index: 10;
						@include transitions(all, .5s, ease);
						
						li {
							background: $accent;
							float:none;
							
							a:link,
							a:visited {
								text-align: left;
								padding: 15px 20px;
								width: 200px;
							}
							
							a:hover,
							a:active {
								color: $primary;
							}
						}
						
						li:hover {
							background: #4d4d4d;
														
							& > ul {
								top:0%;
								left:100%;
								opacity:1;
								visibility:visible;
								
								li {
									
									a:hover,
									a:active {
										color: $primary;
									}
								}
							}
						}
						
						& > li:last-child {
							display: inline-block;
						}
						
						ul {
							top:0%;
							left:160%;
							
							& > li:last-child {
								display: inline-block;
							}
						}
					}
				}
				
				& > ul {
					& > li {
						& > a:link,
						& > a:visited {
							&:before {
								content: "";
								display: block;
								margin: 0 auto;
								width: 0;
								height: 5px;
								background: $primary;
								@include transitions(all, .5s, ease);
							}
							
							&:before {
								margin-bottom: 20px;
							}
						}
						
						& > a:hover,
						& > a:active {
							&:before {
								width: calc(100%);
							}
						}
					}
					
					& > li.current-menu-item {
						& > a:link,
						& > a:visited {
							color: $primary;
							
							&:before {
								width: calc(100%);
							}
						}
					}
					
					& > li.current-menu-item {
						& > a:link,
						& > a:visited {
							&:before {
								width: calc(100%);
							}
						}
					}
					
					& > li.current-menu-item.menu-item-has-children {
						& > a:link,
						& > a:visited {
							background: $accent url('../../images/orange_arrow_down.png') no-repeat;
							background-position: right 20px center;
							background-size: 20px 20px;
							padding-right: 40px;
							
							&:before {
								width: calc(100% + 20px);
							}
						}
					}
					
					& > li:last-child,
					& > li.menu-item-has-children {

						& > a:link,
						& > a:visited {
							background: $accent url('../scss/features/light_arrow_down.png') no-repeat;
							background-position: right 20px center;
							background-size: 20px 20px;
							padding-right: 40px;
						}
						
						& > a:hover,
						& > a:active {
							background: $accent url('../../images/orange_arrow_down.png') no-repeat;
							background-position: right 20px center;
							background-size: 20px 20px;
							padding-right: 40px;
							
							&:before {
								width: calc(100% + 20px);
							}
						}
						
						& > ul {
							& > li.menu-item-has-children {
								& > a:link,
								& > a:visited {
									background: $accent url('../scss/features/light_arrow_right.png') no-repeat;
									background-position: right 20px center;
									background-size: 20px 20px;	
								}
								
								& > a:hover,
								& > a:active {
									background: $accent url('../../images/orange_arrow_right.png') no-repeat;
									background-position: right 20px center;
									background-size: 20px 20px;	
								}
								
								& > ul {
									& > li.menu-item-has-children {
										& > a:link,
										& > a:visited {
											background: $accent url('../scss/features/light_arrow_right.png') no-repeat;
											background-position: right 20px center;
											background-size: 20px 20px;	
										}
										
										& > a:hover,
										& > a:active {
											background: $accent url('../../images/orange_arrow_right.png') no-repeat;
											background-position: right 20px center;
											background-size: 20px 20px;	
										}
									}
								}
							}
						}
					}
					
					& > li.menu-item-has-children:hover {
						& > a:link,
						& > a:visited {
							background: $accent url('../../images/orange_arrow_down.png') no-repeat;
							background-position: right 20px center;
							background-size: 20px 20px;
							padding-right: 40px;
							
							&:before {
								width: calc(100% + 20px);
							}
						}
						
						& > ul {
							& > li.menu-item-has-children:hover {
								& > a:link,
								& > a:visited {
									background: #4d4d4d url('../../images/orange_arrow_right.png') no-repeat;
									background-position: right 20px center;
									background-size: 20px 20px;
									color: $primary;
								}
						
								& > ul {
									& > li.menu-item-has-children:hover {
										& > a:link,
										& > a:visited {
											background: #4d4d4d url('../../images/orange_arrow_right.png') no-repeat;
											background-position: right 20px center;
											background-size: 20px 20px;
											color: $primary;
										}
									}
								}
							}
						}
					}
					
					& > li:last-child {
						display: none;
						
						& > a:link,
						& > a:visited {
							background: $accent url('../../images/white_menu.png') no-repeat;
							background-position: right 20px center;
							background-size: 20px 20px;
							padding-right: 40px;	
						}
						
						& > a:hover,
						& > a:active {
							background: $accent url('../../images/orange_menu.png') no-repeat;
							background-position: right 20px center;
							background-size: 20px 20px;
							padding-right: 40px;	
						}
					}
				}
			}
		}
	}
	
}


@media (min-width: 980px) and (max-width: 1220px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	
	
}

@media (min-width: 480px) and (max-width: 767px) {
	
	
}

@media (min-width: 0px) and (max-width: 479px) {
	
	
}