@media (min-width: 0px) and (max-width: 479px) {
	
	/* top bar */
	
	#top_bar.fullwidth,
	#top_bar.containerwidth {
		
		&.include_both,
		&.include_phoneemail,
		&.include_sm {
			.phone_email_wrapper {
				display: block;
				text-align: center;
				width: 100%;
				
				#phone_number {
					padding-left: 0px;
				}
			}
			
			#social_nav {
				display: none;
			}
		}
	}
	
	/* attention header */
	
	#attention_bar_header {
		display: none;	
	}
	
	/* header */
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
		height: 520px;
		background-size: 130%;
		background-attachment: fixed;
	
	
		&#header_home,
		&#header_page {
			display: none;
		}
		
		&#header_home_mobile,
		&#header_page_mobile {
			display: block;
			
			#home_logo {
				margin-left: -150px;
				width: 300px;
			
				img {
					height: 70px;
				}
			}
		}
		
		&#header_page,
		&#header_page_mobile {
			#page_title {
				margin-left: -150px;
				width: 300px;
			}
		}
		
		&#header_page_mobile {
			#nav_bar {
				&.full_navigation + #page_title {
					margin-top: -25px;
				}
			}
		}
		
		#top_home_page_nav,
		#bottom_home_page_nav {
			&.menu-items-1,
			&.menu-items-2,
			&.menu-items-3,
			&.menu-items-4,
			&.menu-items-5 {
				ul {
					li {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
	
	/* search */
	
	#searchopen {
		display: none;
	}
	
	/* mobile nav */
	
	a#mobileopen:link,
	a#mobileopen:visited,
	a#mobileclose:link,
	a#mobileclose:visited {
		display: block;
	}
	
	/* content */
	
	/* call out boxes */
	
	#call_out_boxes {
		.cob_1,
		.cob_2,
		.cob_3,
		.cob_4,
		.cob_5,
		.cob_6 {
			width: 100%;
			
			.call_out_boxes_item {
				margin-bottom: 20px;
				padding: 0px;
			}
			
			&:last-child {
				.call_out_boxes_item {
					margin-bottom: 0px;
				}
			}
		}
	}
	
	/* search */
	
	#page_searchform {
		input[type="text"] {
			width: 250px;
		}
	}
	
	/* blog */
	
	.blog_home {
		article.blog_preview {
			display: block;
			width: calc(100% - 20px);
		}
	}
	
	.blog_sidebars {
		margin-bottom: 60px;
	}
	
	/* parralax */
	
	#parallax {
		display: none;
	}
	
	/* attention */
	
	#attention_bar {

		.attention_bar_top,
		.attention_bar_bottom {
			width: calc(100% - 40px);
		}
		
		&.horizontal_bar {
			
			.attention_bar_top,
			.attention_bar_bottom {
				
				h3 {
					display: block;
					margin: 0px 0px 20px 0px;
					text-align: center;
					width: 100%;
				}
				
				h3 + div {
					display: block;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
	
	/* footer */
	
	footer {
		#logo_footer {
			a:link,
			a:visited {
				img {
					height: 60px;
				}
			}
		}
	}
	
	.footer_sidebar {
		margin-bottom: 60px;
	}
	
	#footer_sidebar_4.footer_sidebar {
		margin-bottom: 0px;
	}
	
	/* copyright */
	
	#copyright {
		#copyright_content {
			display: block;
			margin-bottom: 20px;
			width: 100%;
			
			p {
				text-align: center;
				
				span.designedby {
					display: block;
				}
			}
		}
		
		#social_nav {
			display: block;
			width: 100%;
			
			ul {
				margin-right: 0px;
				text-align: center;
			}
		}
		
		&.full_width {
			#copyright_content {
				p {
					margin: 0px;
				}	
			}
			
			#social_nav {
				ul {
					margin: 0px;
				}
			}
		}
	}
	
	.content img.alignright,
	.content img.alignleft,
	.content a img.alignright,
	.content a img.alignnone,
	.content a img.alignleft {
	    width: 50%;
	    height: auto;
	}
	
	.content iframe {
		width: 100%;
		height: 200px;
	}
	
}