@media (min-width: 480px) and (max-width: 767px) {
	
	/* top bar */
	
	#top_bar.fullwidth,
	#top_bar.containerwidth {
		
		&.include_both,
		&.include_phoneemail,
		&.include_sm {
			.phone_email_wrapper {
				display: block;
				text-align: center;
				width: 100%;
				
				#phone_number {
					padding-left: 0px;
				}
			}
			
			#social_nav {
				display: none;
			}
		}
	}
	
	/* header */
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
		height: 520px;
		background-size: 100%;
		background-attachment: fixed;
	
	
		&#header_home,
		&#header_page {
			display: none;
		}
		
		&#header_home_mobile,
		&#header_page_mobile {
			display: block;
			
			#home_logo {
				margin-left: -250px;
				width: 500px;
			
				img {
					height: 100px;
				}
			}
		}
		
		&#header_page,
		&#header_page_mobile {
			#page_title {
				margin-left: -250px;
				width: 500px;
			}
		}
		
		&#header_page_mobile {
			#nav_bar {
				&.full_navigation + #page_title {
					margin-top: -25px;
				}
			}
		}
	}
	
	/* search */
	
	#searchopen {
		display: none;
	}
	
	/* mobile nav */
	
	a#mobileopen:link,
	a#mobileopen:visited,
	a#mobileclose:link,
	a#mobileclose:visited {
		display: block;
	}
	
	/* content */
	
	/* call out boxes */
	
	.call_out_boxes {
		.cob_1,
		.cob_2,
		.cob_3,
		.cob_4,
		.cob_5,
		.cob_6 {
			width: 50%;
			
			.call_out_boxes_item {
				margin-bottom: 20px;
			}
		}
	}
	
	/* search */
	
	#page_searchform {
		input[type="text"] {
			width: 250px;
		}
	}
	
	/* blog */
	
	.blog_home {
		article.blog_preview {
			display: block;
			width: calc(100% - 20px);
		}
	}
	
	.blog_sidebars {
		margin-bottom: 60px;
	}
	
	/* parralax */
	
	.parallax {
		display: none;
	}
	
	/* attention */
	
	#attention_bar {

		.attention_bar_top,
		.attention_bar_bottom {
			width: calc(100% - 40px);
		}
		
		&.horizontal_bar {
			
			.attention_bar_top,
			.attention_bar_bottom {
				
				h3 {
					display: block;
					margin: 0px 0px 20px 0px;
					text-align: center;
					width: 100%;
				}
				
				div.menu-appointment-container {
					display: block;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
	
	/* footer */
	
	.footer_sidebar {
		margin-bottom: 60px;
	}
	
	#footer_sidebar_4.footer_sidebar {
		margin-bottom: 0px;
	}
	
	/* copyright */
	
	#copyright {
		#copyright_content {
			display: block;
			margin-bottom: 20px;
			width: 100%;
			
			p {
				text-align: center;
			}
		}
		
		#social_nav {
			display: block;
			width: 100%;
			
			ul {
				margin-right: 0px;
				text-align: center;
			}
		}
		
		&.full_width {
			#copyright_content {
				p {
					margin: 0px;
				}	
			}
			
			#social_nav {
				ul {
					margin: 0px;
				}
			}
		}
	}
	
}