@media (min-width: 980px) and (max-width: 1220px) {

	/* header */
	
	header {
		background: url('../img/home.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		height: 600px;
		
		&#header_page_mobile {
			#nav_bar {
				&.full_navigation + #page_title {
					margin-top: -25px;
				}
			}
		}
	}
	
	header#header_home,
	header#header_page {
		display: none;
	}
	
	header#header_home_mobile,
	header#header_page_mobile {
		display: block;
	}
	
	/* search */
	
	#searchopen {
		display: none;
	}
	
	/* mobile nav */
	
	a#mobileopen:link,
	a#mobileopen:visited,
	a#mobileclose:link,
	a#mobileclose:visited {
		display: block;
	}
	
	/* content */
	
	/* search */
	
	#page_searchform {
		input[type="text"] {
			width: 250px;
		}
	}
	
	/* blog */
	
	.blog_home {
		article.blog_preview {
			display: block;
			width: calc(50% - 20px);
		}
	}
	
	.blog_sidebars {
		margin-bottom: 60px;
	}
	
	/* parralax */
	
	.parallax {
		display: none;
	}
	
	/* appointment */
	
	.appointment {
		
		p {
			width: 800px;
		}
	}
	
	/* footer */
	
	.footer_sidebar {
		margin-bottom: 60px;
	}
	
	#footer_sidebar_4.footer_sidebar {
		margin-bottom: 0px;
	}
	
}