@media (min-width: 768px) and (max-width: 979px) {
	
	/* header */
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
		height: 500px;
		background-size: 120%;
		background-attachment: fixed;
		
		&#header_page_mobile {
			#nav_bar {
				&.full_navigation + #page_title {
					margin-top: -25px;
				}
			}
		}
	}
	
	header#header_home,
	header#header_page {
		display: none;
	}
	
	header#header_home_mobile,
	header#header_page_mobile {
		display: block;
	}
	
	/* search */
	
	#searchopen {
		display: none;
	}
	
	/* mobile nav */
	
	a#mobileopen:link,
	a#mobileopen:visited,
	a#mobileclose:link,
	a#mobileclose:visited {
		display: block;
	}
	
	/* call out boxes */
	
	#call_out_boxes {
		.cob_1,
		.cob_2,
		.cob_3,
		.cob_4,
		.cob_5,
		.cob_6 {
			width: 50%;
			
			.call_out_boxes_item {
				margin-bottom: 20px;
			}
		}
	}
	
	/* search */
	
	#page_searchform {
		
		input[type="text"] {
			width: 250px;
		}
	}
	
	/* blog */
	
	.blog_home {
		article.blog_preview {
			display: block;
			width: calc(50% - 20px);
		}
	}
	
	.blog_sidebars {
		margin-bottom: 60px;
	}
	
	/* parralax */
	
	#parallax {
		display: none;
	}
	
	/* attention */
	
	#attention_bar {

		.attention_bar_top,
		.attention_bar_bottom {
			width: calc(100% - 40px);
		}
		
		&.horizontal_bar {
			
			.attention_bar_top,
			.attention_bar_bottom {
				
				h3 {
					display: block;
					margin: 0px 0px 20px 0px;
					text-align: center;
					width: 100%;
				}
				
				div.menu-appointment-container {
					display: block;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
	
	/* footer */
	
	.footer_sidebar {
		margin-bottom: 60px;
	}
	
	#footer_sidebar_4.footer_sidebar {
		margin-bottom: 0px;
	}
}